.bg-container{
    background-color: rgba(255, 255, 0, 0.797);
    height:100vh;
}
.pink-colored{
    color:plum;
    background-color: white;
    width: 140px;
    height:30px;
    border-width: 0px;
    margin: 10px;
    font-weight: 600;
}
.blue-colored{
    color:rgb(95, 95, 244);
    background-color: white;
    width: 140px;
    height:30px;
    border-width: 0px;
    margin: 10px;
    font-weight: 600;
}
.pink-heading{
  color:#ee34f7;
  font-family:"Times new Roman";
  font-weight:500;
  
}
.pink-description{
  color:#ee34f7;
  font-family:"Times new Roman";
  font-size:30px;
  padding-top:20px;
}
